@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-common {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
/* Common class */
.btn {
  border: none;
  padding: 20px 25px;
  background-color: #ff900e;
  border-radius: 8px;
  margin-top: 32px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
body {
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "v v v v v v v v v v v v"
    "f f f f f f f f f f f f"
    "fa fa fa fa fa fa fa fa fa fa fa fa"
    "fo fo fo fo fo fo fo fo fo fo fo fo";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto;
  object-fit: cover;
}
.header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 228px;
  flex-direction: column;
  background-color: rgba(255, 144, 14, 10%);
  width: 100%;
  max-width: 1920px;
}
.nav {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo {
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #131313;
}
.nav .nav-links {
  width: 477px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav-links li a {
  font-size: 18px;
  color: #424242;
  line-height: 28px;
  font-weight: 500;
}
.header .navtext {
  margin-top: 116px;
  width: 862px;
  height: 225px;
}
.header .navtext h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.header .navtext p {
  margin-top: 24px;
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
}
.header .btn button {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff900e;
  border: none;
  cursor: pointer;
}
.header .header_image {
  margin-top: 50px;
  margin-right: 12px;
}
.header .header_image img {
  width: 100%;
  margin-right: 12px;
}
.visit {
  grid-area: v;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 130px;
  padding: 85px 341px;
}
.visit .uper_visit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visit .uper_visit .visit_content {
  width: 100%;
  max-width: 537px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visit .uper_visit .visit_img {
  width: 100%;
  max-width: 740px;
}
.visit .uper_visit .visit_img ul {
  width: 100%;
  max-width: 740px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.visit .uper_visit .visit_img img {
  max-width: 300px;
  width: 100%;
}
.visit .uper_visit .visit_content {
  height: 305px;
  width: 537px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.visit .uper_visit .visit_content h3 {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  color: black;
  margin-bottom: 24px;
}
.visit .uper_visit .visit_content p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #727272;
  line-height: 26px;
  margin-bottom: 32px;
}
.visit .uper_visit .visit_content button {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #727272;
  line-height: 26px;
  margin-bottom: 32px;
}
.lowr_visit {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 54px;
}
.lowr_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.lowr_visit .lowr_left .lowr-heading {
  position: relative;
}
.lowr_left .lowr-heading .orange {
  position: absolute;
  left: 0;
  top: 5px;
  width: 5px;
  height: 106px;
  background-color: #ff900e;
  border-radius: 2px;
}

.lowr_visit .lowr_left .lowr-heading h1 {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  color: #131313;
  padding-left: 26px;
  margin-bottom: 24px;
  position: relative;
}
.lowr_visit .lowr_left .lowr-heading p {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.lowr_visit .lowr_left .lowr-content {
  padding: 30px;
}
.lowr_visit .lowr_left .lowr-content h3 {
  margin-left: 3px;
  margin-bottom: 9px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #131313;
}
.lowr_visit .lowr_left .lowr-content p {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.lowr_right {
  position: relative;
}
.lowr_right button {
  position: absolute;
  bottom: -50px;
  left: -30px;
  padding: 46px 42px;
  font-size: 65px;
  line-height: 40px;
  color: #ffffff;
}
.lowr_right button span {
  font-size: 25px;
  line-height: 40px;
}
.facts {
  grid-area: fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 85px 341px;
}
.facts .facts_header {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  margin-bottom: 90px;
}
.facts .facts_header h2 {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  color: #131313;
  margin-bottom: 24px;
}
.facts .facts_header p {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.facts .facts-card {
  display: flex;
  align-items: center;
  gap: 50px;
}
.facts .facts-card .cards_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  height: 242px;
  width: 242px;
  padding: 46px 35px;
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
}
.facts .facts-card .cards_item h3 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
.facts .facts-card .cards_item p {
  font-size: 20px;
  font-weight: 700;
  color: #727272;
}
.footer {
  grid-area: fo;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .footer_header {
  width: 542px;
}
.footer .footer_header h1 {
  font-size: 45px;
  color: #131313;
  font-weight: bold;
  margin-bottom: 24px;
}
.footer .footer_header p {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
}
.footer .footer_content {
  margin-top: 50px;
  margin-bottom: 130px;
  filter: grayscale(100%);
}
.footer .footer_content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 155px;
}
.footer .footer_copy {
  width: 80%;
  background-color: #fff4e7;
  padding: 39px 410px;
  margin-bottom: 206px;
}
.footer .footer_copy p {
  font-size: 20px;
  color: #424242;
}
/* =========================================
   3. RESPONSIVE QUERIES
   ========================================= */
